.tw-image {
    &.img-100 {
        width: 100%;
        img {
            width: 100%
        }
    }
    @media only screen and (min-width: 992px){
        &.img-h-200 {
            height: 200px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &.img-h-300 {
            height: 300px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &.img-h-400 {
            height: 400px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &.img-h-500 {
            height: 500px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &.img-h-600 {
            height: 600px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &.img-h-700 {
            height: 700px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
