.tw-grid {
    @mixin grid-layout($columns){
        display: flex;
        flex-wrap: wrap;
        > * {
            flex: 0 0 calc(#{(1/$columns) * 100%});
        }
    }

    &.has-1-columns {
        @include grid-layout(1);
    }
    &.has-2-columns {
        @include grid-layout(2);
    }
    &.has-3-columns {
        @include grid-layout(3);
    }
    &.has-4-columns {
        @include grid-layout(4);
    }
    &.has-5-columns {
        @include grid-layout(5);
    }
    &.has-6-columns {
        @include grid-layout(6);
    }
    @media screen and (min-width: 767px){
        &.tablet-has-1-columns {
            @include grid-layout(1);
        }
        &.tablet-has-2-columns {
            @include grid-layout(2);
        }
        &.tablet-has-3-columns {
            @include grid-layout(3);
        }
        &.tablet-has-4-columns {
            @include grid-layout(4);
        }
        &.tablet-has-5-columns {
            @include grid-layout(5);
        }
        &.tablet-has-6-columns {
            @include grid-layout(6);
        }
    }
    @media screen and (min-width: 992px){
        &.desktop-has-1-columns {
            @include grid-layout(1);
        }
        &.desktop-has-2-columns {
            @include grid-layout(2);
        }
        &.desktop-has-3-columns {
            @include grid-layout(3);
        }
        &.desktop-has-4-columns {
            @include grid-layout(4);
        }
        &.tablet-has-5-columns {
            @include grid-layout(5);
        }
        &.desktop-has-6-columns {
            @include grid-layout(6);
        }
    }
}