$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.wp-block {
    max-width: none;
}

@media (min-width: 600px) {
    .block-editor-block-list__layout .block-editor-block-list__block {
        padding-left: 0;
        padding-right: 0;
    }
}